<!DOCTYPE html>
<html>

<head>
  <!-- Primary Meta Tags -->
  <meta name="theme-color" content="#00f6ff">
  <meta name="keywords" content="cine, kronus, kronusboss, cinekronusboss, cineminha, filme, movie, mux, moviemux" />
  <meta name="language" content="Portuguese">

  <meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>" />

  <!-- Cache-Control -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.moviemux.com/" />
  <meta property="og:site_name" content="Movie Mux" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta property="twitter:url" content="https://www.moviemux.com/" />

  <link rel="icon" type="image/ico" href="favicon.ico" />
  <link rel="canonical" href="https://www.moviemux.com/" />
</head>

<body>
  <!-- quasar:entry-point -->
  <noscript>
    <strong>Desculpe, mas esse site só funciona com o Javascript ativado, para continuar, por favor habilite o
      Javascript.</strong>
  </noscript>
</body>

</html>