<!DOCTYPE html>
<html>

<head>
  <!-- Primary Meta Tags -->
  <title>Cine KronusBoss</title>
  <meta name="title" content="Cine KronusBoss" />
  <meta name="description" content="Descubra o melhor do cinema, classificações e informações sobre filmes." />
  <meta name="theme-color" content="#00f6ff">

  <meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.cine.kronusboss.com/" />
  <meta property="og:title" content="Cine KronusBoss" />
  <meta property="og:description" content="Descubra o melhor do cinema, classificações e informações sobre filmes." />
  <meta property="og:image"
    content="https://img.cine.kronusboss.com/3I4rv_W3p1FfRN20kVd1XaWB6i4hasYHqXQmjREO/100x100/cine/CineKronusBoss.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://www.cine.kronusboss.com/" />
  <meta property="twitter:title" content="Cine KronusBoss" />
  <meta property="twitter:description"
    content="Descubra o melhor do cinema, classificações e informações sobre filmes." />
  <meta property="twitter:image"
    content="https://img.cine.kronusboss.com/3I4rv_W3p1FfRN20kVd1XaWB6i4hasYHqXQmjREO/100x100/cine/CineKronusBoss.png" />

  <link rel="icon" type="image/ico" href="favicon.ico" />
</head>

<body>
  <!-- quasar:entry-point -->
  <noscript>
    <strong>Desculpe, mas esse site só funciona com o Javascript ativado, para continuar, por favor habilite o
      Javascript.</strong>
  </noscript>
</body>

</html>