// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #027be3;
$secondary: #26a69a;
$accent: #9c27b0;

//$dark: #1d1d1d;
$dark: var(--grey-mid2);

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

.bg-kb-primary {
  background: var(--primary) !important;
}

.text-kb-primary {
  color: var(--primary) !important;
}

.bg-grey-dark2 {
  background: var(--grey-dark2) !important;
}

.text-grey-dark2 {
  color: var(--grey-dark2) !important;
}

.bg-grey-mid {
  background: var(--grey-mid) !important;
}

.text-grey-mid {
  color: var(--grey-mid) !important;
}

.bg-grey-mid2 {
  background: var(--grey-mid2) !important;
}

.text-grey-mid2 {
  color: var(--grey-mid2) !important;
}

@import '~quasar-variables-styl';
