// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #027be3;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$grey-mid: #293244;

.bg-kb-primary {
  background: #00f6ff !important;
}

.text-kb-primary {
  color: #00f6ff !important;
}

.bg-grey-mid {
  background: #293244 !important;
}

.text-grey-mid {
  color: #293244 !important;
}

.bg-grey-mid2 {
  background: #343c4c !important;
}

.text-grey-mid2 {
  color: #343c4c !important;
}

@import '~quasar-variables-styl';
